<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdatePassword</title>
    <link rel="stylesheet" href="/assets/css/element-ui.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/manager.css">

    <style>

    </style>
</head>
<body>
<div id="app" v-cloak>
    <!-- head -->
    <div class="header" id="header"></div>
    <!--  middle part -->
    <div style="display: flex">
        <!--        menu-->
        <div id="main-menu"></div>
        <!-- body-->
        <div class="main-body" style="z-index: 1000">
            <div class="main-body-header">
                UpdatePassword
            </div>
            <div class="main-body-content">
                <div style="width: 50%; padding: 10px 0">
                    <el-form :model="form" label-position="right" label-width="200px" style="padding-right: 40px">
                        <el-form-item label="original password">
                            <el-input size="small" v-model="form.mm" placeholder="please input original password"></el-input>
                        </el-form-item>
                        <el-form-item label="new password">
                            <el-input size="small" v-model="form.nmm" placeholder="please input new password"></el-input>
                        </el-form-item>
                        <el-form-item label="comfirm new password">
                            <el-input size="small" v-model="form.n2mm" placeholder="please comfirm new password"></el-input>
                        </el-form-item>
                        <div style="text-align: center; margin-top: 20px">
                            <el-button size="small" type="primary" @click="update()">save</el-button>
                        </div>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/global.js"></script>
<script src="/assets/js/vue.js"></script>
<script src="/assets/js/element-ui.min.js"></script>
<script src="/assets/js/axios.js"></script>

<script>
new Vue({
    el: '#app',
    data: {
        user: {},
        authority: [],
        permission: [],
        activeIndex: 'password.html',
        form: {}
    },
    mounted() {
        this.user = JSON.parse(localStorage.getItem('user'));
        // 获取当前登录用户对该模块的所有权限
        this.getRolePermission(4001);
    },
    methods: {
        // 获取当前登录用户的所有权限
        getRolePermission(modelId) {
            axios.get('/authority/' + modelId).then(res => {
                if (res.data.code === "0") {
                    this.authority = res.data.data.authority;
                    this.permission = res.data.data.permission;
                } else {
                    this.$notify.error(res.data.msg);
                }
            })
        },
        update() {
            if (!this.form.mm) {
                this.$notify.error("please input 原密码");
                return;
            }
            if (!this.form.nmm) {
                this.$notify.error("please input 新密码");
                return;
            }
            if (!this.form.n2mm) {
                this.$notify.error("请确认新密码");
                return;
            }
            if (this.form.nmm !== this.form.n2mm) {
                this.$notify.error("两次新密码输入不一致");
                return;
            }
            axios.put("/updatePassword", this.form).then(res => {
                if (res.data.code === '0') {
                    this.$notify.success("密码修改成功");
                    setTimeout(function () {
                        location.href = "/end/login.html";
                    }, 1000)
                } else {
                    this.$notify.error(res.data.msg);
                }
            })
        },
        selectMenu(index) {
            location.href = index
        }
    }
})
</script>
</body>
</html>